/* contacts-section */

.contacts-section {
  padding: 0 80px;
  margin-bottom: 96px;
  @media screen and (max-width: $bp-desktop) {
    padding: 0 40px;
    margin-bottom: 24px;
  }
  @media screen and (max-width: $bp-tablet) {
    padding: 0;
    margin: 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    padding: 0 48px;
    @media screen and (max-width: $bp-tablet) {
      padding: 0;
      margin: 0;
    }
  }

  &__form {
    padding: 48px 56px;
    margin-bottom: 16px;
    border-radius: 32px;
    flex-basis: 423px;
    text-align: center;
    background: var(--dark-blue-color);
    background-image: url(../images/contacts-form_background.png);

    @media screen and (max-width: $bp-desktop) {
      margin-bottom: 0;
      padding: 48px 24px;
      flex-basis: 320px;
      order: 0;
    }
  }

  &__map {
    min-width: 605px;
    min-height: 481px;
    border-radius: 32px;
    flex-shrink: 0;
    flex-grow: 1;
    order: 0;

    @media screen and (max-width: $bp-tablet) {
      border-radius: 0;
    }
    @media screen and (max-width: $bp-desktop) {
      min-width: 360px;
      width: 100%;
      margin: 0;
      padding: 0;
      flex-basis: 320px;
      order: 1;
    }
  }

  // &__map {
  //   height: 100%;
  //   margin: 0 -24px;
  //   border-radius: 16px;
  //   // flex-basis: 320px;
  //   flex-shrink: 0;
  //   order: 1;

  //   @media screen and (min-width: $bp-tablet) {
  //     margin: auto;
  //     min-width: 500px;
  //     min-height: 320px;
  //     border-radius: 32px;
  //     flex-grow: 1;
  //   }
  //   @media screen and (min-width: $bp-desktop) {
  //     min-width: 605px;
  //     min-height: 481px;
  //     flex-grow: 1;
  //     order: 1;
  //   }
  // }

  /* &__text {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #fff;
    margin: 0px 18px;
    margin-bottom: 32px;
  } */
}
