:root {
  --dark-blue-color: #011c44;
  --ligth-blue-color: #2b7fff;
}

ul {
  list-style-type: none;
}

.call-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--dark-blue-color);
}

.call-button {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  border: 2px solid var(--ligth-blue-color);
  border-radius: 32px;
  padding: 16px;
  width: 219px;
  height: 53px;
  cursor: pointer;
  color: var(--dark-blue-color);
  cursor: pointer;
}

.call-button:hover {
  color: #fff;
  background-color: var(--ligth-blue-color);
}

.call-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #4a4a4a;
}

.about-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.72727;
  color: var(--dark-blue-color);
}

.about-accent {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.advantages-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: black;
}

.header-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--dark-blue-color);
}

.header-link:hover {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--ligth-blue-color);
}

.footer-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.footer-link:hover {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--ligth-blue-color);
}

.main-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 140px;
  line-height: 0.8;
  color: var(--ligth-blue-color);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.title-section {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: var(--dark-blue-color);
}

.title-accent {
  color: var(--ligth-blue-color);
}

.procedures-section {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: black;
}
